html, body {
  height: 100%;
  margin: 0;
  min-width: 1024px;
  padding: 0;
  width: 100%;
  font-size: 16px; }

body {
  background: url("office.png"); }

.menu-left {
  background: #bbbbbb;
  float: left;
  height: 100%;
  width: 256px; }

.menu-left-collapsed {
  height: 100%;
  width: 24px; }

.logo {
  background: black;
  height: 80px;
  width: 256px; }

.menu-left ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 15px; }

.menu-left li {
  margin: 0; }

.shortcuts ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

.shortcuts li {
  display: inline-block;
  margin: 5px; }

.menu-left strong {
  font-size: 110%;
  padding-left: 10px; }

/* If the screen is not wide enough,Left menu slides in and out from the left */
.main {
  height: 100%;
  margin-left: 256px;
  max-width: 100%;
  min-width: 768px;
  padding-left: -256px; }

.ticket {
  background: #FFFFFF;
  border: solid 1px black;
  border-bottom: none;
  border-top: none;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 768px; }

.ticket-header {
  width: 100%; }

.ticket-name {
  float: left;
  font-size: 200%;
  font-weight: bold; }

.ticket-number {
  float: right;
  font-size: 200%;
  font-weight: bold; }

.ticket-header-info {
  clear: right;
  width: 700px;
  box-shadow: 10px 10px 5px #888888;
  margin-left: auto;
  margin-right: auto; }

.ticket-header-info table {
  width: 100%;
  border: solid 1px #aaaaaa; }

.ticket-header-info th {
  width: 110px;
  border: none;
  text-align: left; }

.ticket-note {
  margin-top: 20px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  clear: right;
  font-size: 0px;
  border-bottom: solid 1px #aaaaaa; }

.ticket-note-line {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  clear: right;
  font-size: 0px;
  border: solid 1px #aaaaaa;
  border-bottom: none; }

.header {
  font-weight: bold;
  text-align: center; }

.ticket-note-line div {
  font-size: 16px; }

.ticket-note-date {
  width: 100px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block; }

.ticket-note-who {
  width: 50px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block; }

.ticket-note-what {
  width: 490px;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #bbbbbb;
  padding: 5px; }

.ticket-note-assign {
  width: 500px;
  padding: 0;
  margin: 0;
  background: #AAAAAA;
  display: inline-block; }

.ticket-note-time {
  width: 50px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  text-align: center;
  display: inline-block; }
