html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	min-width: 768px;
}

body {
	background: url("office.png")
}

.menu-left {
	width: 256px;
	height: 100%;
	background: #CCCCCC;
	float: left;
}

.menu-left-collapsed {
	width: 24px;
	height: 100%;
}

.logo {
	width: 256px;
	height: 80px;
	background: #000000;
}

.menu-left ul {
	display: block;
	margin: 0;
	padding-left: 15px;
	list-style-type: none;
	padding-bottom: 10px;
}

.menu-left li {
	margin: 0;
}

.shortcuts ul {
	display: inline-block;
	margin: 0;
	padding-left: 0;
	list-style-type: none;
}

.shortcuts li {
	display: inline-block;
	margin: 5px
}

.menu-left strong {
	font-size: 110%;
	padding-left: 10px;
}

/* If the screen is not wide enough,Left menu slides in and out from the left */

.main {
	height: 100%;
	min-width: 768px;
	max-width: 100%;
	padding-left: -256px;
	margin-left: 256px;
}

.ticket {
	width: 768px;
	min-height: 100%;
	background: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px #000000;
	border-top: none;
	border-bottom: none;
}

.ticket-header {
	width: 100%;
}

.ticket-name {
	float: left;
	font-size: 200%;
	font-weight: bold;
}

.ticket-number {
	float: right;
	font-size: 200%;
	font-weight: bold;
}

.ticket-header-info {
	clear: right;
}
.ticket-header-info table {
	width: 700px;
	border: solid 1px #999999;
	margin-left: auto;
	margin-right: auto;
}
.ticket-header-info th {
	width: 110px;
	border: none;
	text-align: left;
}

.ticket-note {
	margin-top: 20px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	clear: right;
}

.ticket-note tr {
	/*border: solid 1px #000000;*/
	outline: 1px solid #000000;
}

.ticket-note-date {
	width: 100px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: center;
}

.ticket-note-who {
	width: 50px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: center;
}

.ticket-note-what {
	width: 500px;
	padding: 0;
	margin: 0;
	background: #EEEEEE;
}

.ticket-note-when {
	width: 50px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	text-align: center;
}
